<section id="about-section">
  <h1 class="uk-heading-line uk-text-center"><span>Rayana Leite</span></h1>

  <div class="uk-panel">
    <img class="uk-align-center uk-align-left@m uk-margin-remove-adjacent" src="/images/rayana-leite.jpeg" width="400" height="150" alt="Doula Rayana Leite">

    <div style="display: flow-root;">
      <p>
        Sou uma doula apaixonada e dedicada, comprometida em oferecer suporte abrangente a mulheres durante a jornada da gravidez, parto e pós-parto. Com uma sólida formação em diversas técnicas de assistência ao parto e certificações reconhecidas, estou equipada para fornecer orientação emocional, física e informativa. Meu principal objetivo é criar um ambiente de confiança, respeito e empoderamento, honrando as escolhas individuais das gestantes e suas famílias.
      </p>

      <br>

      <p>
        Ao longo da minha carreira, tenho colaborado com diversas mulheres, ajudando-as a navegar por esse período desafiador de maneira positiva e fortalecedora. Minha abordagem compassiva e centrada na mulher visa proporcionar um suporte personalizado, adaptado às necessidades específicas de cada gestante. Além disso, mantenho-me atualizada com as últimas pesquisas e práticas relacionadas ao parto, garantindo que as famílias sob minha orientação recebam informações precisas e relevantes.
      </p>

      <br>

      <p>
        Acredito firmemente na importância de criar uma rede de apoio sólida durante a gravidez e parto, e estou comprometida em ser uma aliada confiável para as gestantes que buscam uma experiência de parto positiva e capacitadora. Minha paixão pela maternidade e meu compromisso com o bem-estar das famílias refletem-se na qualidade do meu trabalho como doula.
      </p>
    </div>
  </div>
</section>
