<section id="contact-section">
  <h1 class="uk-heading-line uk-text-center"><span>Contatos</span></h1>

  <div class="uk-text-center" uk-grid>
    <div class="uk-width-1-2@m">
      <h2>Contatos</h2>

      <div>
        <i class="fa fa-phone" aria-hidden="true"></i>
        (87) 99920-8255
      </div>

      <div>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        doularayanaleite@gmail.com
      </div>

      <div>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        Surubim - PE
      </div>
    </div>

    <div class="uk-width-1-2@m">
      <h2>Redes Sociais</h2>

      <div>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <a href="https://www.instagram.com/doularayana/">Instagram</a>
      </div>

    </div>
  </div>
</section>
