
<section class="faq-section">
  <h1 class="uk-heading-line uk-text-center"><span>Dúvidas Frequentes</span></h1>

  <ul uk-accordion="collapsible: false">
    <li class="uk-open">
      <a class="uk-accordion-title" href>Doula é uma profissão regulamentada?</a>
      <div class="uk-accordion-content">
        <p>
          Até o presente momento (outubro/2023) não, o que significa que o curso de doulas
          não é um curso técnico ou superior, mas um curso livre. Existe um movimento em âmbito
          nacional que tem buscado promover a regulamentação no Congresso Nacional.
        </p>
      </div>
    </li>

    <li>
      <a class="uk-accordion-title" href>O que exatamente faz uma doula durante o parto?</a>
      <div class="uk-accordion-content">
        <p>
          Uma doula oferece suporte emocional, físico e informativo às gestantes antes, durante e após o parto. Ela auxilia na criação de um ambiente positivo, fornece técnicas de alívio da dor não medicamentosas e apoia as decisões da gestante.
        </p>
      </div>
    </li>

    <li>
      <a class="uk-accordion-title" href>As doulas substituem a presença de um médico ou parteira durante o parto?</a>
      <div class="uk-accordion-content">
        <p>
          Não, as doulas complementam o trabalho dos profissionais de saúde. Elas não realizam procedimentos médicos, mas oferecem suporte contínuo, encorajam a participação ativa da gestante e promovem o bem-estar emocional.
        </p>
      </div>
    </li>

    <li>
      <a class="uk-accordion-title" href>Doulas são apenas para partos naturais ou também podem auxiliar em cesáreas?</a>
      <div class="uk-accordion-content">
        <p>
          As doulas podem apoiar em uma variedade de situações, incluindo partos naturais, cesáreas e partos induzidos. Seu papel é adaptar-se às necessidades específicas da gestante, proporcionando apoio físico e emocional.
        </p>
      </div>
    </li>

    <li>
      <a class="uk-accordion-title" href>Quando devo contratar uma doula?</a>
      <div class="uk-accordion-content">
        <p>
          O ideal é contratar uma doula assim que a gestante decidir que deseja esse tipo de suporte. Quanto mais cedo ela estiver envolvida, mais tempo terá para estabelecer uma conexão e compreender as preferências da gestante.
        </p>
      </div>
    </li>

    <li>
      <a class="uk-accordion-title" href>Doulas são apenas para as gestantes que desejam partos sem intervenções médicas?</a>
      <div class="uk-accordion-content">
        <p>
          Não, as doulas apoiam todas as gestantes, independentemente do plano de parto. Seja um parto natural, uma cesárea planejada ou outra situação, a doula está lá para oferecer suporte, informação e empoderamento, respeitando as escolhas da gestante.
        </p>
      </div>
    </li>
  </ul>
</section>
