<section id="services-section">
  <h1 class="uk-heading-line uk-text-center"><span>Serviços</span></h1>

  <div class="uk-child-width-1-1@s uk-child-width-1-3@m uk-grid-match" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">Suporte Emocional</h3>
            </div>
          </div>
        </div>

        <div class="uk-card-body">
          <p>Fornecer apoio emocional contínuo antes, durante e após o parto, oferecendo tranquilidade, encorajamento e compreensão.</p>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">Educação e Informação</h3>
            </div>
          </div>
        </div>

        <div class="uk-card-body">
          <p>Oferecer informações detalhadas sobre opções de parto, procedimentos médicos e cuidados pré e pós-natais para capacitar a gestante a tomar decisões informadas.</p>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">Assistência Física durante o Trabalho de Parto</h3>
            </div>
          </div>
        </div>

        <div class="uk-card-body">
          <p>Utilizar técnicas de alívio da dor, como massagens, exercícios e posicionamentos, para ajudar no conforto e progresso do trabalho de parto.</p>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">Advocacia e Defensoria</h3>
            </div>
          </div>
        </div>

        <div class="uk-card-body">
          <p>Agir como defensora dos desejos da gestante, comunicando-se com a equipe médica para garantir que suas preferências sejam respeitadas dentro do possível.</p>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">Apoio ao Parceiro ou Apoiante</h3>
            </div>
          </div>
        </div>

        <div class="uk-card-body">
          <p>Orientar e envolver o parceiro ou outra pessoa de apoio, proporcionando uma experiência mais colaborativa e fortalecedora para a família.</p>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">Planejamento do Parto</h3>
            </div>
          </div>
        </div>

        <div class="uk-card-body">
          <p>Auxiliar na criação de um plano de parto personalizado, considerando preferências, expectativas e opções disponíveis durante o trabalho de parto e parto.</p>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">Acompanhamento Pós-Parto:</h3>
            </div>
          </div>
        </div>

        <div class="uk-card-body">
          <p>Oferecer suporte contínuo após o nascimento, ajudando a mãe a se ajustar à maternidade, oferecendo apoio na amamentação, cuidados com o recém-nascido e orientações sobre o bem-estar pós-parto.</p>
        </div>
      </div>
    </div>
  </div>
</section>
