<section class="testimony-section">
  <h1 class="uk-heading-line uk-text-center"><span>Depoimentos</span></h1>

  <div class="uk-child-width-1-1@s uk-child-width-1-3@m uk-grid-match" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <blockquote cite="#">
          <p class="uk-margin-small-bottom">"A presença de Rayana foi fundamental; seu apoio contínuo e encorajamento transformaram meu parto em uma experiência empoderadora e positiva."</p>
          <footer>Isabella Santos</footer>
        </blockquote>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <blockquote cite="#">
          <p class="uk-margin-small-bottom">"Contratar Rayana foi a melhor decisão! Sua orientação e suporte emocional fizeram toda a diferença, proporcionando tranquilidade e confiança durante o parto."</p>
          <footer>Sophia Oliveira</footer>
        </blockquote>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <blockquote cite="#">
          <p class="uk-margin-small-bottom">"Rayana não apenas aliviou minhas ansiedades, mas também trouxe uma calma reconfortante ao ambiente. Sua presença e habilidades foram inestimáveis durante todo o processo de parto."</p>
          <footer>Clara Pereira</footer>
        </blockquote>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <blockquote cite="#">
          <p class="uk-margin-small-bottom">"Rayana não só compartilhou sua sabedoria, mas também ofereceu um apoio emocional que fez toda a diferença; graças a ela, vivi um parto respeitoso e cheio de positividade."</p>
          <footer>Gabriela Silva</footer>
        </blockquote>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <blockquote cite="#">
          <p class="uk-margin-small-bottom">"A experiência com a doula foi simplesmente incrível; sua empatia, orientação e abordagem personalizada não apenas aliviaram minhas preocupações, mas também tornaram meu parto uma celebração de poder feminino."</p>
          <footer>Carolina Santos</footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
