<header class="header">
  <div class="header-content content-width">
    <!-- <dir> -->
      <img class="profile-img" src="/images/logo.png" alt="Doula Rayana Leite" />
    <!-- </dir> -->


    <a id="menuBar" class="mobile-menu-bar" href="javascript:void(0);">
      <i class="fa fa-bars mobile-menu-icon" aria-hidden="true"></i>
    </a>

    <nav class="header-menu">
      <ul>
        {% for menu in site.menu %}
          {% if menu.path == page.url %}
            <li class="active-menu">
          {% else %}
            <li>
          {% endif %}

            <a href="{{ menu.path }}">{{ menu.label }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
