// // Footer
// .footer {
//   background: $principal-color;
//   color: #ffffff;
//   font-size: 15px;
//   margin-top: 20px;
//   padding: 15px;
//   text-align: center;

//   a, a:hover {
//     color: #ffffff;
//     text-decoration: none;
//   }
// }
