// // Global
// body {
//   color: $text-color;
//   font-family: 'Open Sans', sans-serif;
// }

// pre {
//   overflow: auto;
// }

// a {
//   color: $principal-color;
//   text-decoration: none;
// }

// a:hover {
//   text-decoration: underline;
// }

// @media (min-width: 1200px) {
//   .content-width {
//     max-width: 1170px;
//   }
// }
