// // Header
.header {
  background-color: $principal-color;
  box-shadow: 0 1px 3px #dddddd;
  display: block;
  margin-bottom: 25px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-content {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  position: relative;

  img {
    height: 150px;
    display: inline;
  }
  // h1 {
  //   display: inline;
  //   font-size: 31px;
  //   // color: red;
  // }

  // a {
  //   padding: 10px 0;
  // }
}

.site-title {
  float: left;
}

.mobile-menu-bar {
  float: right;
  font-size: 31px;
  padding-top: 44px;
  padding-bottom: 44px;
}

.header-menu {
  display: none;
  float: right;

  padding-top: 44px;
  padding-bottom: 44px;

  li {
    display: inline-flex;
    font-size: 21px;
  }

  a {
    color: #555555;
    margin-left: 1.25rem;
    padding: 17px 0;
    text-decoration: none;
  }

  a:hover {
    color: $principal-color;
    text-decoration: none;
  }

  .menu-item {
    a {
      color: #ffffff;
    }
  }
}

@media (min-width: $breakpoint-content-section){
  .mobile-menu-bar {
    display: none;
  }

  .header-menu {
    display: block;
  }
}

.mobile-menu-icon {
  color: white;
}
