---
layout: default
---
<main>
  <section class="about-section">
    <img src="" alt="">

    <h1>Rayana Leite</h1>

    <p>
    </p>
  </section>

  <section class="about-services">
    <img src="" alt="">

    <h1>Serviços</h1>

    <p>
    </p>
  </section>

  <section class="about-testimony">
    <img src="" alt="">

    <h1>Depoimentos</h1>

    <p>
    </p>
  </section>

  <section class="about-faq">
    <img src="" alt="">

    <h1>Dúvidas Frequentes</h1>

    <ul uk-accordion>
      <li class="uk-open">
          <a class="uk-accordion-title" href>Doula é uma profissão regulamentada?</a>
          <div class="uk-accordion-content">
              <p>Até o presente momento (outubro/2023) não, o que significa que o curso de doulas
                não é um curso técnico ou superior, mas um curso livre. Existe um movimento em âmbito
                nacional que tem buscado promover a regulamentação no Congresso Nacional.</p>
          </div>
      </li>
      <li>
          <a class="uk-accordion-title" href>Item 2</a>
          <div class="uk-accordion-content">
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
          </div>
      </li>
      <li>
          <a class="uk-accordion-title" href>Item 3</a>
          <div class="uk-accordion-content">
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
          </div>
      </li>
  </ul>
  </section>

  <section class="about-contact">
    <img src="" alt="">

    <h1>Contatos</h1>

    <p>
    </p>
  </section>
</main>
